<ion-header>
  <ion-toolbar>
    <ion-title>Evaluacion de Riesgos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="Pregunta">
      <h4>Actividad: Arribo de autotanque a la Estación de servicio.</h4>
      <h5><p>Peligro: a.	Maniobra dentro de la estación</p><p> b.	Falta de conocimiento o de conciencia del personal.</p></h5>
      <h5>Golpe a instalaciones u otros vehículos o atropellamiento a personas.</h5>    
      <h5><p> Causas: a.	Falta o mal estado de señalamiento de circulación dentro de la estación de servicio. </p><p> b.	Personal no sigue los procedimientos.</p></h5>
      <label > Frecuencia(F)</label>
      <ion-input type="number" placeholder="Awesome Input"></ion-input>
      <br>
  </div>

</ion-content>
