<ion-header>
  <ion-toolbar>
    <ion-title>Sistema</ion-title>
    <ion-button (click)="back()">
      Regresar
    </ion-button>
  </ion-toolbar>
</ion-header>

  <ion-content>

    <div id="all">
        <ion-button id="Puntos" (click)="getPolitica()">
            I. Politica
            </ion-button>
          
            <ion-button id="Puntos" (click)="getpeligros()">
              II. IDENTIFICACIÓN DE PELIGROS Y RIESGOS AMBIENTALES 
            </ion-button>
          
            <ion-button id="Puntos" (click)="getrequisitoslegales()">
             III. IDENTIFICACIÓN DE REQUISITOS LEGALES
            </ion-button>
          <br>
            <ion-button id="Puntos" (click)="getMetasObjetivos()">
              IV. METAS OBJETIVOS E INDICADORES
            </ion-button>  
            
            <ion-button id="Puntos" (click)="getFuncionesAutoridades()">
             V. FUNCIONES RESPONSABILIDAD Y AUTORIDAD
            </ion-button>
          
          <ion-button id="Puntos" (click)="getCompeencias()">
              VI. COMPETENCIA DEL PERSONAL, CAPACITACIÓN Y ENTRENAMIENTO
          </ion-button>  
          <br>
          <ion-button id="Puntos" (click)="getComunicacion()">
              VII. COMUNICACIÓN, PARTICIPACIÓN Y CONSULTA
          </ion-button>
          
          <ion-button id="Puntos" (click)="getControlDocumentos()">
              VIII. CONTROL DE DOCUMENTOS Y REGISTROS
          </ion-button>
          
          <ion-button id="Puntos" (click)="getPracticas()">
              IX. MEJORES PRÁCTICAS Y ESTÁNDARES
             </ion-button> 
          <br>
           <ion-button id="Puntos" (click)="getControlActividades()">
              X. CONTROL DE ACTIVIDADES Y PROCESOS
           </ion-button>  
          
           <ion-button id="Puntos" (click)="getIntegridadMecanica()">
              XI. INTEGRIDAD MECÁNICA
           </ion-button>
          
          <ion-button id="Puntos" (click)="getContratistas()">
              XII. SEGURIDAD DE CONTRATISTAS
          </ion-button> 
          <br>
          <ion-button id="Puntos" (click)="getEmergencias()">
              XIII. PREPARACIÓN Y RESPUESTA A EMERGENCIAS
          </ion-button>
          
          <ion-button id="Puntos" (click)="getMonitoreo()">
              XIV. MONITOREP, VERIFICACIÓN Y EVALUACIÓN
          </ion-button>
          
          <ion-button id="Puntos" (click)="getAuditorias()">
              XV. AUDITORÍAS
          </ion-button>
          <br>
          <ion-button id="Puntos" (click)="getIncidentes()">
              XVI. INVESTIGACIÓN DE INCIDENTES Y ACCIDENTES
          </ion-button>
          
          <ion-button id="Puntos" (click)="getRevision()">
              XVII. REVISIÓN DE LA DIRECCIÓN 
          </ion-button>
          
          <ion-button id="Puntos" (click)="getInformes()">
              XVIII. INFORMES DE DESEMPEÑO
          </ion-button>
    </div>


</ion-content>
